<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553249224722-li6inm66ejllvruvnprab6708m5risid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553249224722-li6inm66ejllvruvnprab6708m5risid</string>
	<key>API_KEY</key>
	<string>AIzaSyA3nQpxoxmk_Vx2MY-63Ua4FIXpO8tAnEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>553249224722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tatsuo.SuburiMeter</string>
	<key>PROJECT_ID</key>
	<string>suburimeter</string>
	<key>STORAGE_BUCKET</key>
	<string>suburimeter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553249224722:ios:6770f4794083728fb800cb</string>
</dict>
</plist>